@import 'src/assets/colors/colors.scss';


.step-content-label {
    margin-bottom: 16px;
}

.step-complete-btn {
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    border: none !important;
    background: #c9e6ff;
    display: flex;
    align-items: center;
}

.completed-step-check {
    margin-right: 12px;
    color: $blue !important;
}

.purpose-radio {
  position: relative;
  display: inline-block;
  margin: 30px 5px 5px 5px;
  .purpose-radio-input {
      position: absolute;
      opacity: 0;

      &:checked+.purpose-radio-label {
          border-color: #00d69f;

          .label-icon {
              color: #00d69f;

              .label-icon-default {
                  display: none;
              }

              .label-icon-active {
                  display: inline-block;
              }
          }

          .label-text {
              color: #00d69f;
              font-weight: bold;
          }
      }
  }

  .purpose-radio-label {
      display: flex;
      width: 196px;
      height: 184px;
      max-width: 100%;
      border: 2px solid #7b7f89;
      border-radius: 4px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      @media (max-width: 575px) {
          width: 100%;
      }

      .label-icon {
          font-size: 21px;
          color: #000000;
          margin-bottom: 17px;
          transition: all 0.2s ease-in-out;

          .label-icon-active {
              display: none;
          }
      }

      .label-text {
          font-size: 16px;
          color: #030303;
          transition: all 0.2s ease-in-out;
      }
  }
}

.purpose-radios-wrapper {
  margin-top: 60px;

  .purpose-radio {
      margin-right: 18px;
      max-width: calc( 33% - 18px);

      @media (max-width: 575px) {
          margin-right: 0;
          margin-bottom: 18px;
          width: 100%;
          max-width: none;
      }

      &:last-child {
          margin-right: 0;
      }
  }
}

.form-control {
  margin: 20px 15px 0px 0px;
  min-height: 50px;
  max-width: 550px;
  border-radius: 4px;
  border: solid 1px #ececec;
  &::placeholder {
      color: #919aa3;
  }
}

.language-check {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block
  }

  img {
    padding:10px;
  }

  input[type="checkbox"][id^="cb"] {
    display: none;
  }

  label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  label::before {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(128, 128, 128);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  label img {
    height: 80px;
    width: 80px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked+label {
    border-color: rgb(255, 255, 255);
  }

  :checked+label::before {
    content: "✔";
    background-color: rgb(54, 12, 153);
    transform: scale(1);
  }

  :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px rgb(37, 9, 136);
    border-radius: 25%;
    z-index: -1;
  }
}

.hobbie-check {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block
  }

  input[type="checkbox"][id^="cb"] {
    display: none;
  }

  label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  label::before {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(128, 128, 128);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  label p {
    height: 37px;
    width: 50px;
    font-size: 40px;
    transition-duration: 0.3s;
    transform-origin: 50%;
  }

  :checked+label {
    border-color: rgb(43, 9, 138);
  }

  :checked+label p {
    transform: scale(1.5);
    box-shadow: 1px 1px 1px 1px rgb(37, 9, 136);
    border-radius: 50%;
    z-index: -1;
  }
}
