@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
  background: linear-gradient(0deg, #fff, 50%, #deeefe);
  font-family: "Rubik", sans-serif;
  background: #ffffff;
  height: 50 !important;
}

.menu{
  margin-left:220px;
  margin-right:0px;
  float:right;
}

.container-fluid {
  overflow: hidden;
  margin-top: 50px;
  background: #d3cfcf;
  color: #35383a !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #161616 !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.navbar-brand img {
  height: 100px;
  margin: 15px;
  width: auto;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: black;
  font-family: arial;
  text-decoration: none;
}

* {
  outline: none !important;
}
*:focus {
  outline: none !important;
}
textarea:focus,
input:focus {
  outline: none !important;
}
a:hover {
  color: black;
  font-family: arial;
  text-decoration: none;
}
