<div class="fondo">
  <div class="container">
    <h2>Ready to start?</h2>
    <p class="lead">
      Complete your information in a few steps to show your skills,<br>
      we have different templates, that suits you!
    </p>
    <div class="formLogin rounded">
      <h3>Sign up for a free account</h3>
      <form>
        <div class="form-floating mt-2">
          <input
            type="text"
            class="form-control"
            id="floatingName"
            placeholder="First name"
            formControlName="name"
          />
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mt-2">
          <input
            type="text"
            class="form-control"
            id="floatingSurname"
            placeholder="Last name"
            formControlName="lastname"
          />
          <label for="floatingInput">Lastname</label>
        </div>
        <div class="form-floating mt-2">
          <input
            type="email"
            class="form-control"
            id="floatingEmail"
            placeholder="Correo electrónico"
            formControlName="email"
          />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mt-2">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="row col-md-12">
          <button class="btn btn-social btn-linkedin" (click)="login()">
            <i class="fa fa-linkedin"></i>Sign in with LinkedIn
          </button>
        </div>
        <div class="row col-md-12">
          <button class="btn btn-social btn-google">
            <i class="fa fa-google"></i>Sign in with Google
          </button>
        </div>
        <div class="row col-md-12">
          <button class="btn btn-lg btn-primary" type="submit">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="info">
  <div class="inner-info">
    <h3>Learn all about the features of CV Maker</h3>
  </div>
  <img class="hello-img" src="https://images.unsplash.com/photo-1511140973288-19bf21d7e771?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
</div>
<div class="experience">
  <img class="laptop-img" src="https://purepng.com/public/uploads/large/purepng.com-laptoplaptoptechnologyelectronicskeyboard-112152511985990dhd.png">
  <div class="inner-experience">
    <h4 class="text-experience">You're in good company</h4>
    <div class="square">
      <div id="a"><img src="http://getdrawings.com/free-icon/homepage-icon-png-75.png"></div>
      <div id="b"><img src="https://cdn0.iconfinder.com/data/icons/shopping-icons-rounded/110/Online-Shopping-512.png"></div>
      <div id="c"><img src="https://image.flaticon.com/icons/png/512/262/262123.png"></div>
      <div id="d"><img src="https://image.flaticon.com/icons/png/512/1304/1304571.png"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h2 class="text-languages">Programming Languages</h2>
      <h4>Your development skills in a few steps, a good visual way to show your professional experience.</h4>
    </div>
    <div class="col-6">
      <img class="img-languages" src="https://www.pngitem.com/pimgs/m/361-3612259_mean-stack-hd-png-download.png">
    </div>
  </div>
</div>
