<div id="container">
  <div class="login-box" id="box">
    <div class="form-signin">
      <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header">
            <strong>Login</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="text-center">
                  <img
                    class="rounded"
                    src="assets/images/logo-small.jpg"
                    alt=""
                    style="width: 120px"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="height: 40px">
                        <i class="fas fa-user-shield"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Email"
                      id="floatingInput"
                      placeholder="email"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': isSent && f.email.errors }"
                      autofocus=""
                      style="height: 40px"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="height: 40px">
                        <i class="fas fa-user-secret"></i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      id="floatingPassword"
                      placeholder="Contraseña"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': isSent && f.password.errors }"
                      style="height: 40px"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <button
                    class="btn block btn-social btn-linkedin"
                    (click)="login()"
                  >
                    <i class="fa fa-linkedin"></i>Sign in with LinkedIn
                  </button>
                  <input
                    type="submit"
                    class="btn btn-lg btn-info block submit"
                    id="login_m"
                    value="Sign in"
                  />
                  <button
                    (click)="signup()"
                    class="w-100 btn block btn-lg btn-link mt-3"
                    type="button"
                  >
                    Crea tu cuenta
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="">¿Has olvidado la contraseña?</a>
        <div class="form-floating">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="isSent && f.email.errors"
          >
            El email no es válido
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="isSent && f.password.errors"
          >
            La constraseña no es válida
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="title" >
    <h2>Exhibitions</h2>
    <hr>
    <p>Description
    The MCA’s exhibitions feature the art of our time in every possible media by artists of local and international renown.
    Explore the variety of MCA exhibitions on view now, coming up next, or from our rich past.
    Images in this section are published for educational use under the umbrella of the Fair Use doctrine.
    </p>
    <hr>
    <a mat-stroked-button href="https://mcachicago.org/Exhibitions" target="_blank">know more</a>
  </div>
</div>
