<nav class="navbar navbar-light" [ngClass]="{'white': bgWhite}">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
          <img class="rounded" src="assets/images/logo-cv.jpg" alt="logocvmaker">
      </a>
      <div class="navbar">
          <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer" routerLinkActive="active">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn-upload" (click)="login()" routerLinkActive="router-link-active">Log in</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
