<div class="container">
  <h1>Ready to start?</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corporis beatae cum et, eveniet dolores quisquam
    incidunt mollitia assumenda placeat provident, impedit aperiam odit doloremque nihil facere adipisci error nisi!</p>
  <div class="formLogin">
    <h2>Sign up for a free account</h2>
    <form>
      <div class="form-floating mt-2">
        <input type="text" class="form-control" id="floatingInput" placeholder="First name" formControlName="name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mt-2">
        <input type="text" class="form-control" id="floatingInput" placeholder="Last name" formControlName="lastname">
        <label for="floatingInput">Lastname</label>
      </div>
      <div class="form-floating mt-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="Correo electrónico"
          formControlName="email">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mt-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
          formControlName="password">
        <label for="floatingPassword">Contraseña</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary ms-2" type="submit">Registrarme</button>
      <button class="btn btn-block btn-social btn-linkedin ms-2"><i class="fa fa-linkedin"></i>Sign in with
        LinkedIn</button>
      <button class="btn btn-block btn-social btn-google ms-2"><i class="fa fa-google"></i>Sign in with Google</button>
    </form>
  </div>
</div>